<div class="fs-header">
    <div class="fs-header-position">
        <div class="fs-header-wrapper">
            <div class="cleared reset-box"></div>
            <div class="fs-header-inner">
                <div class="fs-logo">
                        <h2 class="fs-logo-name"><a href="./index.html">FISCOSPORT</a></h2>
                        <h3 class="fs-logo-text">professionisti esperti in materie fiscali sportive</h3>

                </div>
            </div>
        </div>
    </div>

    <div class="fs-bar fs-nav">
        <div class="fs-nav-outer">
            <div class="fs-nav-wrapper">
                <div class="fs-nav-inner">

                    <%# render_navigation :context => :fe , :level => 1 %>
                    <%= render_navigation :context => :home , :level => 1  %>
                </div>
            </div>
        </div>
    </div>
    <div class="fs-bar fs-m2nav">
        <div class="fs-m2nav-wrapper">

            <%# render_navigation :context => :fe , :level => 2%>
            <%= render_navigation :context => :home , :level => 2  %>

        </div>
    </div>
    <div class="cleared reset-box"></div>

</div>
