<div class="fs-post-inner fs-article">
                                <h2 class="fs-postheader">Login </h2>
                                                <div class="fs-postcontent">
<div class="fs-content-layout-wrapper layout-item-0">
<div class="fs-content-layout">
    <div class="fs-content-layout-row">
    <div class="fs-layout-cell layout-item-1" style="width: 100%;">
        <p><img src=<%= asset_path "rails.png"%> alt="an image" id="preview-image" name="preview-image" /><span style="font-family: Verdana;">Enter Page content here...</span></p>

      <%=  render 'devise/sessions/new' %>






        <p><a href="#"><span><span style="font-family: Verdana;">Read more</span></span></a></p>
    </div>
    </div>
</div>
</div>
<div class="fs-content-layout-wrapper layout-item-0">
<div class="fs-content-layout">
    <div class="fs-content-layout-row">
    <div class="fs-layout-cell layout-item-1" style="width: 50%;">
        <p><br /></p>
    </div><div class="fs-layout-cell layout-item-1" style="width: 50%;">
        <p><br /></p>
    </div>
    </div>
</div>
</div>

                </div>
                <div class="cleared"></div>
                </div>