<div class="fs-box fs-block">
    <div class="fs-box-body fs-block-body">
                <div class="fs-bar fs-blockheader">
                    <h3 class="t">Archivi</h3>
                </div>
                <div class="fs-box fs-blockcontent">
                    <div class="fs-box-body fs-blockcontent-body">
                <div>
  <ul>
    <li>
      <a href="#" title="Novembre 2008">November 2008</a>
    </li>
    <li>
      <a href="#" title="Ottobre 2008">October 2008</a>
    </li>
    <li>
      <a href="#" title="Settembre 2008">September 2008</a>
    </li>
    <li>
      <a href="#" title="Luglio 2008">June 2008</a>
    </li>
  </ul>
</div>                
                                		<div class="cleared"></div>
                    </div>
                </div>
		<div class="cleared"></div>
    </div>
</div>