 <div class="fs-bar fs-nav">
<div class="fs-nav-outer">
  <div class="fs-nav-wrapper">

			<%# render_navigation :context => :fe , :level => 1 %>
    <%= render_navigation :context => :home , :level => 1  %>




   </div>
</div>
</div>


  <div class="fs-nav-wrapper">
    <div class="fs-bar fs-snav">
      <%= render_navigation :context => :home, :level => 2  %>
    </div>

</div>