 <div class="fs-bar fs-nav">
<div class="fs-nav-outer">
  <div class="fs-nav-wrapper">



			<%= render_navigation :level => 1 %>




   </div>
</div>
</div>


  <div class="fs-nav-wrapper">
    <div class="fs-bar fs-snav">
          <%= render_navigation :level =>2 %>
    </div>

</div>