<div style="background-color:red;"><h2> E' NECESSARIO AUTENTICARSI PER VISUALIZZARE IL CONTENUTO  </h2>
<br/>
<%= render :partial => 'devise/menu/login_items'  %>                                                   <br/>
<br/>

<hr>
</div>
<div style="background-color:yellow;"
<h1> NON SEI ABBONATO/A ?    </h1>

<br/>
    <span class="fs-button-wrapper">
      <span class="fs-button-l"> </span>
      <span class="fs-button-r"> </span>

      <a class="fs-button" <%= link_to('Abbonati! (da fare un wizard nuovo abbonamento)', new_account_registration_path)  %> > </a>
   </span>
 </div>
<div style="background-color:#9acd32;">
  <h2> ABBONAMENTI  </h2>
 <p>

Per informazioni contattare il nostro Servizio Abbonamenti:
telefono:	199 199 199*

e-mail:	abbonati@fiscosport.it
</p>
<p>

<b>VANTAGGI PER GLI ABBONATI </b>
Entrare nel mondo degli abbonati è facile e vantaggioso!
Ecco tutte le garanzie su misura per te!
 </p><p>

<b> E' COMODO</b>
È il massimo della comodità: ricevi la tua rivista direttamente sul tuo computer, senza scomodarti a cercarla e senza preoccuparti se il numero dovesse essere esaurito. Per essere sempre al corrente hai anche aggiornamenti bisettimanali con una newsletter contenenti le ultime novità.
 </p><p>
<b> PREZZO BLOCCATO TUTTO L’ANNO </b>
Anche se il prezzo di abbonamento dovesse aumentare nel corso dell'anno, non dovrai preoccuparti: il prezzo per te è bloccato!
</p><p>
<b> NESSUN NUMERO PERSO </b>
Puoi stampare solo quello che ti serve, è economico ed ecologico ,
</p><p>
<b> COMODITÀ DI PAGAMENTO  </b>
Hai a disposizione le formule di pagamento più convenienti e comode, scegliendo tra la carta di credito e i bollettini prestampati inviati direttamente al tuo indirizzo oppure il comodissimo pagamento online.

 </p><p>

Trattamento dei dati personali ai sensi dell’art. 13 D. Lgs. 196/03
Con riferimento ai dati conferiti mediante compilazione della presente cartolina, gli stessi saranno trattati da Edizioni Condé Nast S.p.A., con sede in Milano, P.zza Castello 27 - 20121 Milano - in qualità di titolare degli stessi, per la gestione dell’abbonamento attraverso strumenti manuali ed elettronici. Ti informiamo che il conferimento dei tuoi dati è obbligatorio per dar corso al tuo abbonamento. I tuoi dati verranno, altresì, utilizzati dal titolare del trattamento per tenerti aggiornato sulle novità relative alle proprie promozioni, per lo svolgimento di ricerche di mercato, comunicazioni commerciali, marketing diretto e l'invio di materiale pubblicitario, anche per conto di terzi. Inoltre, e solo con il tuo esplicito consenso, da esprimere barrando le caselle qui sotto riportate, autorizzerai la nostra società ad utilizzare i tuoi dati per le medesime attività sopra descritte avvalendosi di strumenti automatizzati e/o a comunicare i tuoi dati ad aziende partner della nostra società e da queste utilizzati per attività di marketing diretto, ricerche di mercato, comunicazione commerciale. Per esercitare i diritti di cui all’articolo 7 D. Lgs 196/03 (ad esempio, per l'aggiornamento, la correzione, la cancellazione dei dati), per richiedere l’elenco completo dei responsabili del trattamento o i nominativi dei nostri partner cui sono stati comunicati i tuoi dati ovvero per esprimere il tuo dissenso all’utilizzo dei tuoi dati per finalità commerciali, potrai scrivere al titolare del trattamento all’indirizzo sopra indicato.
 </p>

                            <span class="fs-button-wrapper">
                           <span class="fs-button-l"> </span>
                           <span class="fs-button-r"> </span>
                            <%= link_to "Indietro", main_home_index_path  , :class => 'fs-button'  %>
                           </span>
</div>
