
/* begin Menu */
/* menu structure */

ul.be-m2hmenu a, ul.be-m2hmenu a:link, ul.be-m2hmenu a:visited, ul.be-m2hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.be-m2hmenu, ul.be-m2hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.be-m2hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.be-m2hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.be-m2hmenu li li{
   float: none;
   width: auto;
}
ul.be-m2hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.be-m2hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.be-m2hmenu:after, ul.be-m2hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.be-m2hmenu, ul.be-m2hmenu ul {
   min-height: 0;
}

ul.be-m2hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('be_spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.be-m2hmenu ul.be-m2hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.be-m2hmenu ul.be-m2hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.be-m2hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
   z-index: -1;
}

ul.be-m2hmenu ul ul.be-m2hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
   margin-left: -11px;
}

ul.be-m2hmenu ul ul.be-m2hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
   margin-right: -11px;
}

ul.be-m2hmenu li li:hover>ul.be-m2hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.be-m2hmenu li li:hover>ul.be-m2hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.be-m2hmenu{
   position:relative;
   padding: 10px 4px 0 4px;
   float: left;
}

/* end menu structure */

/* menu bar */

.be-m2nav
{
   margin:0 auto;
   min-height: 47px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.be-m2nav:before, .be-m2nav:after{
   background-image: url('be_m2nav.png');
}
.be-m2nav:before{
   right: 0;
}
.be-m2nav:after{
   width: 0;
}
/* end menu bar */
.be-m2nav-outer{
   position:absolute;
   width:100%;
}

/* end Menu */

/* begin MenuItem */
ul.be-m2hmenu>li>a
{
   position: relative;
   display: block;
   height: 37px;
   cursor: pointer;
   text-decoration: none;
   color: #91A69B;
   padding: 0 21px;
   line-height: 37px;
   text-align: center;
}

ul.be-m2hmenu>li>a:before, ul.be-m2hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('be_m2menuitem.png');
}

ul.be-m2hmenu>li>a:before
{
   left: 0;
   right: 21px;
   background-position: top left;
}

ul.be-m2hmenu>li>a:after
{
   width: 21px;
   right: 0;
   background-position: top right;
}

.be-m2hmenu a, .be-m2hmenu a:link, .be-m2hmenu a:visited, .be-m2hmenu a:hover
{
   text-align: left;
   text-decoration: none;
}

ul.be-m2hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.be-m2hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.be-m2hmenu>li>a.active {
   color: #10190F;
}

ul.be-m2hmenu>li>a:hover:before, ul.be-m2hmenu>li:hover>a:before {
   background-position: center left;
}
ul.be-m2hmenu>li>a:hover:after, ul.be-m2hmenu>li:hover>a:after {
   background-position: center right;
}
ul.be-m2hmenu>li>a:hover, ul.be-m2hmenu>li:hover>a{
   color: #3E4142;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.be-m2hmenu>li {
   margin-left:1px;
}
ul.be-m2hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.be-m2hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   background-image: url('be_m2subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 1px;
   border-style: solid;
   border-top-width: 0;
   border-color: #A0A5A6;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #3E4142;
   margin:0;
   padding: 0 8px;
}

.be-m2hmenu ul>li:first-child>a
{
   border-top-width: 1px;
}

.be-m2hmenu ul a:link, .be-m2hmenu ul a:visited, .be-m2hmenu ul a:hover, .be-m2hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #3E4142;
   margin:0;
   padding: 0 8px;
}

.be-m2hmenu ul li a:hover
{
   color: #122119;
   background-position: left bottom;
   border-color: #5D965A;
   border-top-width: 1px !important;
}

.be-m2hmenu ul li a.be-m2hmenu-before-hovered
{
   border-bottom-width: 0 !important;
}

.be-m2hmenu ul li:hover>a
{
   color: #122119;
   background-position: left bottom;
   border-color: #5D965A;
   border-top-width: 1px !important;
}

/* end MenuSubItem */