// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* begin Page */

/* #fs-main, table
 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1px;
 }

 h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
 {
    margin: 0;
    padding: 0;
 }
  */

.fs-postcontent, .fs-postheadericons, .fs-postfootericons, .fs-blockcontent-body, ul.fs-vmenu a {
  text-align: left; }

.fs-postcontent {
  font-family: Georgia, "Times New Roman", Times, Serif;
  li, table {
    font-family: Georgia, "Times New Roman", Times, Serif; }
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    &:link, &:visited, &.visited, &:hover, &.hovered {
      font-family: Georgia, "Times New Roman", Times, Serif; } }
  p {
    margin: 12px 0; }
  h1 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } }
  h2 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } }
  h3 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } }
  h4 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } }
  h5 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } }
  h6 {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    a {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px;
      &:link, &:visited, &:hover {
        font-family: Georgia, "Times New Roman", Times, Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        text-decoration: none;
        letter-spacing: 2px; } } } }

.fs-blockheader .t {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px; } } }

.fs-vmenublockheader .t {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px; } } }

.fs-logo-name {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px; } } }

.fs-logo-text {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px; } } }

.fs-postheader {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
  letter-spacing: 2px;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 2px;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-decoration: none;
      letter-spacing: 2px; } } }

.fs-postcontent {
  a {
    text-decoration: none;
    color: #95291D;
    &:link {
      text-decoration: none;
      color: #95291D; }
    &:visited, &.visited {
      color: #645E4F; }
    &:hover, &.hover {
      text-decoration: underline;
      color: #15859E; } }
  h1 {
    color: #15859E;
    margin: 10px 0 0;
    font-size: 26px; } }

.fs-blockcontent h1 {
  margin: 10px 0 0;
  font-size: 26px; }

.fs-postcontent h1 a {
  font-size: 26px;
  &:link, &:hover, &:visited {
    font-size: 26px; } }

.fs-blockcontent h1 a {
  font-size: 26px;
  &:link, &:hover, &:visited {
    font-size: 26px; } }

.fs-postcontent h2 {
  color: #1BAFD0;
  margin: 10px 0 0;
  font-size: 22px; }

.fs-blockcontent h2 {
  margin: 10px 0 0;
  font-size: 22px; }

.fs-postcontent h2 a {
  font-size: 22px;
  &:link, &:hover, &:visited {
    font-size: 22px; } }

.fs-blockcontent h2 a {
  font-size: 22px;
  &:link, &:hover, &:visited {
    font-size: 22px; } }

.fs-postcontent h3 {
  color: #645E4F;
  margin: 10px 0 0;
  font-size: 18px; }

.fs-blockcontent h3 {
  margin: 10px 0 0;
  font-size: 18px; }

.fs-postcontent h3 a {
  font-size: 18px;
  &:link, &:hover, &:visited {
    font-size: 18px; } }

.fs-blockcontent h3 a {
  font-size: 18px;
  &:link, &:hover, &:visited {
    font-size: 18px; } }

.fs-postcontent h4 {
  color: #756E5C;
  margin: 10px 0 0;
  font-size: 16px; }

.fs-blockcontent h4 {
  margin: 10px 0 0;
  font-size: 16px; }

.fs-postcontent h4 a {
  font-size: 16px;
  &:link, &:hover, &:visited {
    font-size: 16px; } }

.fs-blockcontent h4 a {
  font-size: 16px;
  &:link, &:hover, &:visited {
    font-size: 16px; } }

.fs-postcontent h5 {
  color: #756E5C;
  margin: 10px 0 0;
  font-size: 14px; }

.fs-blockcontent h5 {
  margin: 10px 0 0;
  font-size: 14px; }

.fs-postcontent h5 a {
  font-size: 14px;
  &:link, &:hover, &:visited {
    font-size: 14px; } }

.fs-blockcontent h5 a {
  font-size: 14px;
  &:link, &:hover, &:visited {
    font-size: 14px; } }

.fs-postcontent h6 {
  color: #A19A87;
  margin: 10px 0 0;
  font-size: 13px; }

.fs-blockcontent h6 {
  margin: 10px 0 0;
  font-size: 13px; }

.fs-postcontent h6 a {
  font-size: 13px;
  &:link, &:hover, &:visited {
    font-size: 13px; } }

.fs-blockcontent h6 a {
  font-size: 13px;
  &:link, &:hover, &:visited {
    font-size: 13px; } }

ul {
  list-style-type: none; }

ol {
  list-style-position: inside; }

html, body {
  height: 100%; }

#fs-main {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden; }

body {
  padding: 0;
  margin: 0;
  min-width: 1000px;
  color: #474338;
  background-color: #FFFFFF; }

.cleared {
  display: block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0;
  height: 0;
  overflow: hidden; }

.reset-box {
  overflow: hidden;
  display: table; }

form {
  padding: 0 !important;
  margin: 0 !important; }

table.position {
  position: relative;
  width: 100%;
  table-layout: fixed; }

/* Start Box */

.fs-box, .fs-box-body {
  margin: 0 auto;
  position: relative; }

.fs-box {
  &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: ' ';
    background-repeat: no-repeat;
    line-height: 0; } }

.fs-box-body {
  &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: ' ';
    background-repeat: no-repeat;
    line-height: 0; } }

.fs-box:before, .fs-box-body:before {
  left: 0; }

.fs-box:after, .fs-box-body:after {
  right: 0; }

.fs-box {
  &:before {
    overflow: hidden;
    background-position: bottom left;
    direction: ltr;
    z-index: -3; }
  &:after {
    background-position: bottom right;
    z-index: -3; } }

.fs-box-body {
  &:before, &:after {
    background-repeat: repeat-y; }
  &:before {
    background-position: top left;
    z-index: -3; }
  &:after {
    background-position: top right;
    z-index: -3; } }

.fs-box .fs-box {
  &:before, &:after {
    z-index: -2; } }

.fs-box-body .fs-box-body {
  &:before, &:after {
    z-index: -2; } }

.fs-box .fs-box .fs-box {
  &:before, &:after {
    z-index: -1; } }

.fs-box-body .fs-box-body .fs-box-body {
  &:before, &:after {
    z-index: -1; } }

/* End Box */

/* Start Bar */

.fs-bar {
  position: relative;
  &:before, &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: ' ';
    background-repeat: repeat;
    z-index: -1; }
  &:before {
    left: 0;
    background-position: top left; }
  &:after {
    right: 0;
    background-position: top right; } }

/* End Bar */

li h1, .fs-postcontent li h1, .fs-blockcontent-body li h1, li h2, .fs-postcontent li h2, .fs-blockcontent-body li h2, li h3, .fs-postcontent li h3, .fs-blockcontent-body li h3, li h4, .fs-postcontent li h4, .fs-blockcontent-body li h4, li h5, .fs-postcontent li h5, .fs-blockcontent-body li h5, li h6, .fs-postcontent li h6, .fs-blockcontent-body li h6, li p, .fs-postcontent li p, .fs-blockcontent-body li p {
  margin: 1px; }

/* end Page */

/* begin Header */

div.fs-header {
  margin: 0 auto;
  position: relative;
  width: 1000px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0; }

.fs-header-position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

.fs-header-wrapper {
  position: relative;
  top: 0;
  width: 1000px;
  margin: 0 auto; }

.fs-header-inner {
  position: relative;
  margin: 0 4px; }

.fs-header:before {
  position: absolute;
  display: block;
  content: ' ';
  z-index: -2;
  top: 0;
  width: 100%;
  height: 75px;
  background-image: url('header.png');
  background-repeat: no-repeat;
  background-position: top center; }

/* end Header */

/* begin Logo */

div.fs-logo {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  margin-Right: 12px;}


.fs-logo-name {
  display: block;
  text-align: center;
  font-size: 21px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  height: 48px;
  background-image: url('fs-logo_i.png');
  background-repeat: no-repeat;
  color: #FFFFFF !important;
  a {
    font-size: 21px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
    &:link, &:visited, &:hover {
      font-size: 21px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #FFFFFF !important; } } }

.fs-logo-text {
  display: block;
  text-align: left;
  font-size: 12px;
  letter-spacing: 1px;
    text-transform: italic; /*
  text-transform: uppercase; */
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
  a {
    font-size: 12px; /*
    letter-spacing: 1px;
    text-transform: uppercase;  */
    padding: 0;
    margin: 0;
    color: #FFFFFF !important;
    &:link, &:visited, &:hover {
      font-size: 15px;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      color: #FFFFFF !important; } } }

#headline, #slogan {
  display: block;
  min-width: 150px;
  text-align: center; }

/* end Logo */

/* begin Box, Sheet */

.fs-sheet {
  max-width: 1000px;
  margin-top: 0;
  margin-bottom: -3px;
  cursor: auto;
  width: 1000px; }

.fs-sheet-body {
  padding: 4px;
  min-width: 28px;
  min-height: 28px;
  padding-top: 0;
  padding-bottom: 4px; }

.fs-sheet {
  &:before {
    content: url('sheet_t.png');
    font-size: 0;
    background-image: url('sheet_b.png'); }
  &:after {
    content: url('sheet_t.png');
    font-size: 0;
    background-image: url('sheet_b.png');
    clip: rect(auto, auto, auto, 982px); }
  &:before {
    right: 18px; } }

.fs-sheet-body {
  &:before {
    right: 18px; }
  &:after {
    width: 18px;
    top: 18px;
    bottom: 18px;
    background-image: url('sheet.png'); }
  &:before {
    top: 18px;
    bottom: 18px;
    background-image: url('sheet.png'); } }

/* end Box, Sheet */

/* begin Layout */

.fs-layout-wrapper {
  position: relative;
  margin: 0 auto 0 auto; }

.fs-content-layout {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; }

.fs-content-layout-row {
  display: table-row; }

.fs-layout-cell {
  display: table-cell;
  vertical-align: top; }

/* end Layout */

/* begin Button */

span.fs-button-wrapper > {
  a.fs-button {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #062A32 !important;
    width: auto;
    outline: none;
    border: none;
    background: none;
    line-height: 26px;
    height: 26px;
    margin: 0 !important;
    padding: 0 10px !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0;
    &:link {
      text-decoration: none;
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      letter-spacing: 1px;
      position: relative;
      top: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      text-align: center;
      color: #062A32 !important;
      width: auto;
      outline: none;
      border: none;
      background: none;
      line-height: 26px;
      height: 26px;
      margin: 0 !important;
      padding: 0 10px !important;
      overflow: visible;
      cursor: pointer;
      text-indent: 0; } }
  input.fs-button, button.fs-button {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    color: #062A32 !important;
    width: auto;
    outline: none;
    border: none;
    background: none;
    line-height: 26px;
    height: 26px;
    margin: 0 !important;
    padding: 0 10px !important;
    overflow: visible;
    cursor: pointer;
    text-indent: 0; } }

.fs-button img {
  margin: 0;
  vertical-align: middle; }

span.fs-button-wrapper {
  img {
    margin: 0;
    vertical-align: middle; }
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 0;
  width: auto;
  max-width: 992px;
  margin: 0;
  padding: 0;
  z-index: 0; }

.firefox2 span.fs-button-wrapper {
  display: block;
  float: left; }

input, select, textarea {
  vertical-align: middle;
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 1px; }

div.fs-block select {
  width: 96%; }

span.fs-button-wrapper {
  &.hover > {
    .fs-button, a.fs-button:link {
      color: #1F1E19 !important;
      text-decoration: none !important; } }
  &.active > {
    .fs-button, a.fs-button:link {
      color: #F5D0CC !important; } }
  > span {
    &.fs-button-l, &.fs-button-r {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      background-image: url('button.png');
      background-repeat: no-repeat; }
    &.fs-button-l {
      left: 0;
      right: 6px;
      background-position: top left; }
    &.fs-button-r {
      width: 6px;
      right: 0;
      background-position: top right; } }
  &.hover > span {
    &.fs-button-l {
      background-position: center left; }
    &.fs-button-r {
      background-position: center right; } }
  &.active > span {
    &.fs-button-l {
      background-position: bottom left; }
    &.fs-button-r {
      background-position: bottom right; } }
  input {
    float: none !important; } }

/* end Button */

/* begin Box, Block, VMenuBlock */

.fs-vmenublock {
  max-width: 992px;
  margin: 5px; }

.fs-vmenublock-body {
  padding: 4px; }

.fs-vmenublock {
  &:before {
    content: url('vmenublock_t.png');
    font-size: 0;
    background-image: url('vmenublock_b.png'); }
  &:after {
    content: url('vmenublock_t.png');
    font-size: 0;
    background-image: url('vmenublock_b.png');
    clip: rect(auto, auto, auto, 991px); }
  &:before {
    right: 1px; } }

.fs-vmenublock-body {
  &:before {
    right: 1px; }
  &:after {
    width: 1px;
    top: 1px;
    bottom: 1px;
    background-image: url('vmenublock.png'); }
  &:before {
    top: 1px;
    bottom: 1px;
    background-image: url('vmenublock.png'); } }

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */

.fs-vmenublockheader {
  margin-bottom: 0;
  min-height: 34px;
  line-height: 34px;
  .t {
    min-height: 34px;
    line-height: 34px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    a {
      color: #000000;
      font-size: 14px;
      letter-spacing: 1px;
      &:link, &:visited, &:hover {
        color: #000000;
        font-size: 14px;
        letter-spacing: 1px; } } } }

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */

.fs-vmenublockcontent {
  max-width: 992px; }

.fs-vmenublockcontent-body {
  padding: 3px; }

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */

ul {
  &.fs-vmenu {
    list-style: none;
    display: block;
    ul {
      list-style: none;
      display: block; }
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: 0;
    li {
      display: block;
      margin: 0;
      padding: 0;
      width: auto;
      line-height: 0; }
    margin-top: 0;
    margin-bottom: 0;
    ul {
      display: none;
      margin: 0;
      padding: 0;
      position: relative;
      margin-left: 0;
      margin-right: 0;
      &.active {
        display: block; } }
    a {
      display: block;
      cursor: pointer;
      z-index: 0;
      text-decoration: none;
      font-family: Arial, Helvetica, Sans-Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 1px;
      margin-left: 0;
      margin-right: 0;
      position: relative; }
    li {
      position: relative; }
    > li > a {
      color: #645E4F;
      padding: 0 10px 0 19px;
      height: 30px;
      line-height: 30px;
      white-space: nowrap; } }
  &.fs-vmenu>li>a.active {
    color: #95291D; }
  &.fs-vmenu {
    a {
      &:hover, &.active:hover {
        color: #DC5A4C; } }
    > li > a {
      &:before, &:after {
        position: absolute;
        display: block;
        content: ' ';
        z-index: -1;
        background-image: url('vmenuitem.png');
        top: 0;
        height: 30px; } } }
  &.fs-vmenu>li>a {
    &:before {
      left: 0;
      right: 14px;
      background-position: top left; }
    &:after {
      width: 14px;
      right: 0;
      background-position: top right; }
    &.active {
      &:before {
        background-position: bottom left; }
      &:after {
        background-position: bottom right; } }
    &:hover {
      &:before {
        background-position: center left; }
      &:after {
        background-position: center right; } } }
  &.fs-vmenu>li {
    margin-top: 4px; }
  &.fs-vmenu>li>ul {
    margin-top: 4px;
    padding-bottom: 0; }
  &.fs-vmenu>li:first-child {
    margin-top: 0; }
  &.fs-vmenu {
    ul li {
      margin: 0;
      padding: 0; }
    li li {
      position: relative;
      a {
        position: relative; } }
    ul {
      a {
        display: block;
        position: relative;
        white-space: nowrap;
        height: 24px;
        overflow: visible;
        background-image: url('vsubitem.png');
        background-repeat: repeat-x;
        background-position: top left;
        padding: 0;
        padding-left: 45px;
        padding-right: 15px;
        line-height: 24px;
        color: #645E4F;
        margin-left: 0;
        margin-right: 0;
        &.active {
          background-position: bottom left; }
        &:hover {
          background-position: center left;
          line-height: 24px;
          color: #645E4F;
          margin-left: 0;
          margin-right: 0; } }
      li li a:hover {
        background-position: left center;
        &.active {
          background-position: left center; } }
      a {
        &:after {
          display: block;
          position: absolute;
          top: 6px;
          content: ' ';
          width: 20px;
          height: 12px;
          overflow: visible;
          background-image: url('vsubitemicon.png');
          background-position: top left;
          background-repeat: no-repeat;
          left: 15px; }
        &:hover:after {
          background-position: center left; }
        &.active {
          &:hover:after {
            background-position: center left; }
          &:after {
            background-position: bottom left; } }
        &:link, &:visited, &:active {
          line-height: 24px;
          color: #645E4F;
          margin-left: 0;
          margin-right: 0; } } } }
  &.fs-vmenu>li>ul>li:first-child {
    padding-top: 0;
    margin-top: 0; }
  &.fs-vmenu {
    li li {
      position: relative;
      margin-top: 0; }
    ul {
      ul {
        a:after {
          left: 30px; }
        ul {
          a:after {
            left: 45px; }
          ul {
            a:after {
              left: 60px; }
            ul a:after {
              left: 75px; } } }
        a {
          padding-left: 60px; }
        ul {
          a {
            padding-left: 75px; }
          ul {
            a {
              padding-left: 90px; }
            ul a {
              padding-left: 105px; } } } }
      li a {
        &.active {
          color: #95291D; }
        &:hover {
          color: #DC5A4C;
          &.active {
            color: #DC5A4C; } } } } } }

/* end VMenu */

/* begin VMenuItem */

/* end VMenuItem */

/* begin VMenuSubItem */

/* end VMenuSubItem */

/* begin Box, Block */

.fs-block {
  max-width: 992px;
  margin: 5px; }

.fs-block-body {
  padding: 3px; }

.fs-block {
  &:before {
    content: url('block_t.png');
    font-size: 0;
    background-image: url('block_b.png'); }
  &:after {
    content: url('block_t.png');
    font-size: 0;
    background-image: url('block_b.png');
    clip: rect(auto, auto, auto, 991px); }
  &:before {
    right: 1px; } }

.fs-block-body {
  &:before {
    right: 1px; }
  &:after {
    width: 1px;
    top: 1px;
    bottom: 1px;
    background-image: url('block.png'); }
  &:before {
    top: 1px;
    bottom: 1px;
    background-image: url('block.png'); } }

div.fs-block img {
  /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
  margin: 7px; }

/* end Box, Block */

/* begin BlockHeader */

.fs-blockheader {
  margin-bottom: 0;
  min-height: 26px;
  line-height: 26px;
  .t {
    min-height: 26px;
    line-height: 26px;
    color: #0F5F71;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    a {
      color: #0F5F71;
      font-size: 14px;
      letter-spacing: 1px;
      &:link, &:visited, &:hover {
        color: #0F5F71;
        font-size: 14px;
        letter-spacing: 1px; } } } }

/* end BlockHeader */

/* begin Box, BlockContent */

.fs-blockcontent {
  max-width: 992px; }

.fs-blockcontent-body {
  padding: 5px;
  color: #474338;
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 12px;
  letter-spacing: 1px;
  table, li {
    color: #474338;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-size: 12px;
    letter-spacing: 1px; }
  a {
    color: #474338;
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-size: 12px;
    letter-spacing: 1px;
    &:link, &:visited, &:hover {
      color: #474338;
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-size: 12px;
      letter-spacing: 1px; } }
  p {
    margin: 0 5px; }
  a {
    color: #95291D;
    text-decoration: underline;
    &:link {
      color: #95291D;
      text-decoration: underline; }
    &:visited, &.visited {
      color: #A19A87;
      text-decoration: none; }
    &:hover, &.hover {
      color: #1BAFD0;
      text-decoration: none; } }
  ul li {
    font-size: 13px;
    line-height: 125%;
    color: #474338;
    margin: 5px 0 0 10px;
    padding: 0 0 0 10px;
    background-image: url('blockcontentbullets.png');
    background-repeat: no-repeat;
    background-position: top left; } }

/* end Box, BlockContent */

/* begin Box, Post */

.fs-post {
  max-width: 992px;
  margin: 7px; }

.fs-post-body {
  padding: 20px; }

a img {
  border: 0; }

.fs-article img, img.fs-article, .fs-block img, .fs-footer img {
  border-color: #C7C3B8;
  border-style: solid;
  border-width: 0;
  margin: 7px 7px 7px 7px; }

.fs-metadata-icons img {
  border: none;
  vertical-align: middle;
  margin: 2px; }

.fs-article table, table.fs-article {
  border-collapse: collapse;
  margin: 1px; }

.fs-post .fs-content-layout-br {
  height: 0; }

.fs-article {
  th, td {
    padding: 2px;
    border: solid 1px #A19A87;
    vertical-align: top;
    text-align: left; }
  th {
    text-align: center;
    vertical-align: middle;
    padding: 7px; } }

pre {
  overflow: auto;
  padding: 0.1em; }

#preview-image {
  float: left; }

.preview-cms-logo {
  border: 0;
  margin: 1em 1em 0 0;
  float: left; }

.preview-sharepoint-logo {
  border: 0;
  margin: 5px;
  float: left; }

/* end Box, Post */

/* begin PostHeaderIcon */

.fs-postheader {
  color: #6A1E15;
  margin: 10px 0;
  line-height: 1em;
  font-size: 26px;
  a {
    font-size: 26px;
    &:link, &:visited, &.visited, &:hover, &.hovered {
      font-size: 26px; }
    text-align: left;
    text-decoration: none;
    color: #802319;
    &:link {
      text-align: left;
      text-decoration: none;
      color: #802319; }
    &:visited, &.visited {
      color: #D53B2A; }
    &:hover, &.hovered {
      text-decoration: underline;
      color: #15859E; } } }

.fs-postheadericon {
  background: url('postheadericon.png') no-repeat left 0.5em;
  padding-top: 16px;
  margin-top: -16px;
  padding-left: 38px;
  display: inline-block;
  min-height: 32px;
  line-height: 1em; }

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */

.fs-postheadericons {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 11px;
  letter-spacing: 1px;
  color: #474338;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-size: 11px;
    letter-spacing: 1px;
    color: #474338;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-size: 11px;
      letter-spacing: 1px;
      color: #474338; }
    text-decoration: none;
    color: #15859E;
    &:link {
      text-decoration: none;
      color: #15859E; }
    &:visited, &.visited {
      color: #15859E; }
    &:hover, &.hover {
      text-decoration: underline;
      color: #1BAFD0; } }
  padding: 1px; }

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */

span {
  &.fs-postdateicon, &.fs-postauthoricon, &.fs-postediticon {
    display: inline-block;
    line-height: 1em;
    &:after {
      content: '.';
      width: 1px;
      visibility: hidden;
      display: inline-block; } } }

/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */

/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostEditIcon */

/* end PostIcon, PostEditIcon */

/* begin PostBullets */

.fs-postcontent {
  ol, ul {
    margin: 1em 0 1em 2em;
    padding: 0; }
  li {
    font-size: 13px;
    color: #474338;
    margin: 5px 0 0 -15px;
    padding: 0 0 0 10px;
    ol {
      margin: 0.5em 0 0.5em 2em;
      padding: 0; } } }

.fs-post li ul {
  margin: 0.5em 0 0.5em 2em;
  padding: 0; }

.fs-postcontent {
  ol > li {
    background: none;
    padding-left: 0;
    /* overrides overflow for "ul li" and sets the default value */
    overflow: visible; }
  ul > li {
    background-image: url('postbullets.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 10px;
    /* makes "ul li" not to align behind the image if they are in the same line */
    overflow-x: visible;
    overflow-y: hidden; } }

/* end PostBullets */

/* begin PostQuote */

blockquote {
  color: #11100D;
  font-style: italic;
  font-weight: normal;
  a {
    color: #11100D;
    font-style: italic;
    font-weight: normal; } }

.fs-postcontent blockquote a, .fs-blockcontent blockquote a, .fs-footer blockquote a, blockquote a:link, .fs-postcontent blockquote a:link, .fs-blockcontent blockquote a:link, .fs-footer blockquote a:link, blockquote a:visited, .fs-postcontent blockquote a:visited, .fs-blockcontent blockquote a:visited, .fs-footer blockquote a:visited, blockquote a:hover, .fs-postcontent blockquote a:hover, .fs-blockcontent blockquote a:hover, .fs-footer blockquote a:hover {
  color: #11100D;
  font-style: italic;
  font-weight: normal; }

/* Override native 'p' margins*/

blockquote p, .fs-postcontent blockquote p, .fs-blockcontent blockquote p, .fs-footer blockquote p {
  margin: 0; }

blockquote {
  border: solid 1px #C7C3B8;
  margin: 10px;
  padding: 2px;
  background-color: #E2E0DA;
  margin-left: 50px;
  padding-left: 35px;
  background-image: url('postquote.png');
  background-position: left top;
  background-repeat: no-repeat;
  /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
  clear: both; }

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */

.fs-postfootericons {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 11px;
  letter-spacing: 1px;
  color: #474338;
  a {
    font-family: Georgia, "Times New Roman", Times, Serif;
    font-size: 11px;
    letter-spacing: 1px;
    color: #474338;
    &:link, &:visited, &:hover {
      font-family: Georgia, "Times New Roman", Times, Serif;
      font-size: 11px;
      letter-spacing: 1px;
      color: #474338; }
    text-decoration: none;
    color: #15859E;
    &:link {
      text-decoration: none;
      color: #15859E; }
    &:visited, &.visited {
      color: #15859E; }
    &:hover, &.hover {
      text-decoration: underline;
      color: #1BAFD0; } }
  padding: 1px; }

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */

span {
  &.fs-postcategoryicon, &.fs-posttagicon, &.fs-postcommentsicon {
    display: inline-block;
    line-height: 1em;
    &:after {
      content: '.';
      width: 1px;
      visibility: hidden;
      display: inline-block; } } }

/* end PostIcon, PostCategoryIcon */

/* begin PostIcon, PostTagIcon */

/* end PostIcon, PostTagIcon */

/* begin PostIcon, PostCommentsIcon */

/* end PostIcon, PostCommentsIcon */

/* begin Footer */

.fs-footer {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%; }

.fs-footer-body {
  position: relative;
  padding: 10px;
  color: #08313B;
  font-size: 11px;
  ul li {
    font-size: 13px;
    line-height: 125%;
    color: #36332B;
    margin: 0 0 0 13px;
    padding: 0 0 0 14px;
    background-image: url('footerbullets.png');
    background-repeat: no-repeat;
    background-position: top left; }
  &:before {
    position: absolute;
    content: ' ';
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5px;
    background-image: url('footer.png');
    background-position: bottom left; } }

.fs-footer {
  &:before, &:after {
    position: absolute;
    content: ' ';
    z-index: -2;
    bottom: 0;
    height: 5px;
    background-image: url('footer_b.png'); }
  &:before {
    left: 0;
    right: 5px;
    background-position: bottom left; }
  &:after {
    right: 0;
    width: 5px;
    background-position: bottom right; } }

.fs-footer-text p {
  padding: 0;
  margin: 0;
  text-align: center; }

.fs-footer-body {
  a {
    color: #08313B;
    font-size: 11px;
    &:link, &:visited, &:hover {
      color: #08313B;
      font-size: 11px; } }
  td, th, caption {
    color: #08313B;
    font-size: 11px; } }

.fs-footer-text {
  min-height: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

.fs-footer-body a {
  color: #7B2218;
  text-decoration: none;
  &:link {
    color: #7B2218;
    text-decoration: none; }
  &:visited {
    color: #6F6958; }
  &:hover {
    color: #A62E21;
    text-decoration: underline; } }

div.fs-footer img {
  /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
  margin: 7px; }

/* end Footer */

/* begin PageFooter */

.fs-page-footer {
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #15859E;
  a {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: normal;
    word-spacing: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
    color: #15859E;
    &:link, &:visited, &:hover {
      font-family: Arial;
      font-size: 10px;
      letter-spacing: normal;
      word-spacing: normal;
      font-style: normal;
      font-weight: normal;
      text-decoration: underline;
      color: #15859E; } }
  position: relative;
  z-index: 10;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  color: #645E4F; }

/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.fs-content-layout {
  .fs-sidebar1, .fs-sidebar2 {
    width: 250px; } }

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */

/* end LayoutCell, sidebar2 */
