<div class="be-bar be-m1nav">
<div class="be-m1nav-outer">

      <%= render_navigation :context => :backend , :level => 1  %>

</div>
</div>
<div class="be-bar be-m2nav">
<div class="be-m2nav-outer">

      <%= render_navigation :context => :backend , :level => 2  %>

</div>
</div>
