<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"[]>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
        <!--  Created by spec Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional" -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fispo </title>
          <%= stylesheet_link_tag "application", :media => "all" %>
          <%# javascript_include_tag "application" %>
          <%= csrf_meta_tags %>
  <style type="text/css">
          .fs-post .layout-item-0 { margin-bottom: 10px; }
          .fs-post .layout-item-1 { border-right-style:solid;border-bottom-style:solid;border-right-width:1px;border-bottom-width:1px;border-right-color:#ABABAB;border-bottom-color:#ABABAB; padding-right: 10px;padding-left: 10px; }
          .ie7 .fs-post .fs-layout-cell {border:none !important; padding:0 !important; }
          .ie6 .fs-post .fs-layout-cell {border:none !important; padding:0 !important; }
  </style>
</head>
<body>

<div id="fs-main">

        <div class="cleared reset-box"></div>


        <%# header intestazione e menu %>
        <%#render 'header' %>



        <%# pagina_dei_contenuti  %>
        <%=render 'main_page' %>
       <div class="cleared reset-box"></div>
        <div class="cleared"></div>
</div>
</body>
</html>

